server:
  port: 30002
spring: 
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 165714238373-37m3q7t7c2h9b7ddqge5e3hd2p4bfuut.apps.googleusercontent.com
            client-secret: 0ckRTxY-1o0PS07Wh0L2Mols
            redirect-uri: http://localhost:30002/login/oauth2/code/google
  datasource:
    url: jdbc:postgresql://192.168.99.100:5432/test
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
